@font-face {
  font-family: "Maplestory";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Maplestory";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Suit-extrabold";
  src: url("/assets/fonts/suit/SUIT-ExtraBold.woff2");
}

@font-face {
  font-family: "Suit-regular";
  src: url("/assets/fonts/suit/SUIT-Regular.woff2");
}

@font-face {
  font-family: "Suit-semibold";
  src: url("/assets/fonts/suit/SUIT-SemiBold.woff2");
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fbfbfb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gray_200: #f6f7f9;
  --gray_300: #e6e7ea;
  --gray_400: #d9dde0;
  --gray_500: #bfc5cb;
  --gray_600: #98a1a6;
  --gray_700: #757e85;
  --gray_850: #4a4e53;
  --gray_900: #121619;
  --point_01: #00ab15;
}

body {
  margin: 0;
  background-color: #fafafa;
  font-family: "Maplestory";
}

video {
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
}

nav {
  unicode-bidi: isolate;
}
